.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    margin-right: 20px;

    border-width: 10px;
    border-color: green;
    border-style:solid;
    text-align: center;
    text-transform:uppercase;
    color: blue;
    
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    margin-right: 20px;
    border-width: 10px;
    border-color: red;
    border-style:solid;
    text-align: center;
    text-transform:uppercase;
    color: blue;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    margin-right: 20px;
    border-width: 10px;
    border-color: yellow;
    border-style:solid;
    text-align: center;
    text-transform:uppercase;
    color: blue;
  }
  

  .container {
    display: flex;
  }
